.main{
    margin: auto
}

.wrapper { 
width:980px; margin-right: auto; margin-left: auto; margin-top: 0; margin-bottom: 0; 
}

#logo{
    display: flex;
    justify-content: center;
    
    
}

.underline{
    font-size: 25px;
    background: 
      linear-gradient(currentColor 0 0) 
      bottom /var(--d, 0) 3px 
      no-repeat;
  transition:0.5s;
}

.underline:hover{
    --d: 100%;
}

.topnav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    /*
    padding-left: 180px;
    padding-right: 180px;
    */
    
}