body{
    
    margin: auto;
    width: auto;
    height: auto;
    
    
    
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
   
        
}

p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}



.background_image{
    
    background-image:url("/assets/images/lanscape.jpg");
    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
    
}

.img_50{
    width: 50%;
    height: 50%;
        
}

.wrapper img{
    width: 50%;
    height: 50%;
}

.img_7{
    width: 7%;
    height: 7%;
}

.b img{
    width: 47%;
    height: 47%;
}



.wrapper { 
    width:auto; margin-right: auto; margin-left: auto; margin-top: 0; margin-bottom: 0; 
    
}
.right{
    float: right;
}


.logo{

    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2.5%;
    
        
    
    
    
}


.bold:hover{
    font-weight: bold;
}




.topnav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    
    padding-left: 180px;
    padding-right: 180px;
    
    padding-bottom: 20%;
    
    
}

.underline{
    
    font-size: 25px;
    color: black;
    text-decoration: none;
    background: 
      linear-gradient(currentColor 0 0) 
      bottom /var(--d, 0) 3px 
      no-repeat;
  transition:0.5s;
}

.underline:visited{
    text-decoration: none;
    color: black;
}

.underline:hover{
    color: black;
    --d: 100%;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown_content {display: block;}


.main_slogen{
    color: white;
    
}

.section_1_slogen{
   margin-left: calc(70% - 250px);
     padding-bottom: 20%;
    margin-right: 3%;
    
}

.black_button{
    background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    
}

.black_border_button{
    background-color: white; 
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    
}

.submit_button{
    background-color: #52C1C8;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    
    
    
    
}

.middle{
    display: flex;
    
    justify-content: center;
}
#middle2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.b{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin: 1%;
    
        
    
}

.background_image2{
    background-image: url("/assets/images/main_section3.jpg");
    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section_3_box{
    padding-top: 20%;
    padding-bottom: 20%;
    
        
}

.section_3_div{
    margin-left: 5%;
}

#section_3_header{
    margin-bottom: 5%;
}

.section_4{
    padding-top: 5%;
    padding-bottom: 5%;
    
    
}
.section_4_width{
    width: 100%;
    
}

.section_4_div{
    display: inline-grid;
    width: 35%;
    margin-left: 13%;
    float: left;
    margin-right: 2%;
    margin-bottom: 5%;
}

.section_4_img{
    display: inline-grid;
    width: 33%;
    float: right;
    margin-right: 13%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.news_inline{
    display: flex;
    margin-left: 5%;
    margin-bottom: 2%;
}

.news_img{
    width: 500px;
    height: auto;
    object-fit: scale-down;
}


.news_right{
   margin-left: 30px;
    text-decoration: none;
    color: black;
}

.news_right:visited{
    text-decoration: none;
    color: black;
    
}

.donate{
    margin-right: 20%;
    margin-left: 20%;
}

select {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
  
}


.donate_inpute {
    width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid lightgray;
      border-radius: 4px;
}

.donate_inpute_besides {
  width: 49%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.about_us_bottom_margin{
    margin-bottom: 5%;
}

.centere_button{
    display: flex;
    justify-content: center;
}

.centre_p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.form_single_margin {
    margin-bottom: 2%;
}

.form_double_margin {
    margin-bottom: 6%;
}

.form_triple_margin {
    margin-bottom: 10%;
}



div.gallery {
    
  border: 1px solid #ccc;
    margin: 2%;
    border-radius: 8px;
   /* box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);*/
        
}

div.gallery:hover {
  border: 1px solid #777;
    
}

div.gallery img {
  width: 100%;
    
  object-fit: scale-down;
    border-radius: 8px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}







.centre_2022{
    justify-content: center;
    text-align: center;
}






footer{ 
    position: absolute;
    margin-top: 20%;
    display: block;
    background-color: black;
    
    width: 100%;
    
}

.div_footer{
    
    padding-top: 5%;
    
}

.the_footer{
    
    clear: both;
    background-color: black;
    width: 100%;
    height: 13%;
    color: white;
    
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-size: 16px;
    text-decoration: none;
        
}

.text_decoration{
    text-decoration: none;
    color: white
}

/*slide show*/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
    
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



/* The Modal starts*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  position: fixed;
  top: 0;
  background-color: #fefefe;
  width: 100%;
  
  
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


.city_commissions_img{
    width: 70%;
    height: 70%;
    margin-bottom: 5%;
        
}

.right_line{
    border-left: 1px solid lightgray;
    padding-left: 1.5%;
}

.right_line:hover{
    border-left: 2px solid black;
    
}

.bottom_border{
    
    padding-bottom: 2%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 3%;
}

.bottom_border_city_comissions{
    
   
    
    margin-bottom: 3%;
}




.mobile_header{
    display: none;
}


@media only screen and (min-width: 481px) and (max-width: 960px) {
    .topnav{
        display: none;
        
    }
    
    .city_commission_header_centre{
        text-align: center;
    }
    
    .right_line_mobile{
        border-left: none;
        border-bottom: 1px solid lightgray;
        text-align: center;
        
    }
    
    .right_line_mobile:focus-within{
        border-left: none;
        border-bottom: 2px solid lightgray;
        text-align: center;
        
    }
    
    .bottom_border{
    
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}
    
    .bold_mobile{
        font-weight: bold;
    }
    
    .right_line:hover{
    border-left: none;
    
}
    
    
    
    .logo{
        display: none
    }
    
    
    
    .mobile_header{
        display: block;
        margin-top: 3%;
        margin-bottom: 3%
    }
    
    .background_image{
        padding-top: 6%;
            height: 100vw;
    }
    
    .logo_mobile{
        margin-top: 6%;
        
    }
    
    .hamburger_icon{
        float: right;
        margin-top: 0;
        padding-top: 0;
        margin-right: 2%;
    }
    
    .show_menu{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        margin-top: -15%;
        overflow: hidden;
    }
    
    .close_icon{
        position: absolute;
        top: 2%;
        right: 3%;
        width: 20%
    }
    
    
    .menu_items{
        display: block;
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight:500
        
    }
    
    .menu_items_branch{
        display: block;
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight:350;
         font-style: italic;
    }
    
    .menu_items_branch_margin{
        
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight:500;
        margin-left: 10%
            
    }
    
    .menu_items_margin{
        margin-top: 10%;
        margin-left: 4%;
        
    }
    
    .b {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .b img {
        display: block;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
        
    }
    
    .section_4{
        padding-bottom: 0;
            
    }
    
    .section_4_div{
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;
            
            
    }
    
     .section_4_img{
        display: block;
        float: none;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 4%;
         
            
        
    }
    
    
    
    
    .news_inline{
        display: block;
        margin-top: 5%;
        
        margin-right: 0;
        
    }
    
    .news_img{
        width: 100%;
        
    }
    
    .news_right{
        margin-right: 0;
        text-align: center;
        
    }
    
    .center_supporter_mobile{
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 20%;
    }
    
    .container{
        width: 100%;
        
    }
    
    .mobile_2016{
        margin-left: 0%;
        margin-right: 0%;
        text-align: center
    }
    
    .mobile_2016 h1{
        margin-left: 10%;
         margin-right: 10%;
        
    }
    .mobile_2016 h4{
        margin-left: 10%;
         margin-right: 10%;
        
    }
    .mobile_2016 p{
        margin-left: 10%;
         margin-right: 10%;
        
    }
    .mobile_2016 h2{
        margin-left: 10%;
         margin-right: 10%;
        
    }
    
    .div_img_2022_mobile{
        margin-top: 12%;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }
    
    .img_2022_mobile{
        width: 70%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .city_commission_mobile{
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .city_commission_mobile_div_img{
        
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .city_commission_mobile_img{
        
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .form_mobile{
        margin-top: 12%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .form_mobile_centre{
        text-align: center;
    }
    
    .show_menu2{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        margin-top: -15%;
        overflow: hidden;
    }
    
}

@media only screen and (max-width: 480px) {
    /* This CSS will be applied only to phones and other small devices. */
    .topnav{
        display: none;
        
    }
    
    .city_commission_header_centre{
        text-align: center;
    }
    
    .right_line_mobile{
        border-left: none;
        border-bottom: 1px solid lightgray;
        text-align: center;
        
    }
    
    .right_line_mobile:focus-within{
        border-left: none;
        border-bottom: 2px solid lightgray;
        text-align: center;
        
    }
    
    .bottom_border{
    
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}
    
    .bold_mobile{
        font-weight: bold;
    }
    
    .right_line:hover{
    border-left: none;
    
}
    
    .logo{
        display: none
    }
    
    .mobile_header{
        display: block;
        margin-top: 3%;
        margin-bottom: -6%
    }
    
    .logo_mobile{
        margin-top: 6%;
        
    }
    
    .hamburger_icon{
        float: right;
        margin-top: 0;
        padding-top: 0;
        margin-right: 2%;
    }
    
    .show_menu{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        margin-top: -15%;
        overflow: hidden;
    }
    
    .close_icon{
        position: absolute;
        top: 2%;
        right: 3%;
        width: 20%
    }
    
    
    .menu_items{
        display: block;
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight:500
        
    }
    
    .menu_items_branch{
        display: block;
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight:350;
         font-style: italic;
    }
    
    .menu_items_branch_margin{
        
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight:500;
        margin-left: 10%
            
    }
    
    .menu_items_margin{
        margin-top: 10%;
        margin-left: 4%;
        
    }
    
    .b {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .b img {
        display: block;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
        
    }
    
    .section_4{
        padding-bottom: 0;
            
    }
    
    .section_4_div{
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;
            
            
    }
    
     .section_4_img{
        display: block;
        float: none;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 4%;
         
            
        
    }
    
    
    
    
    .news_inline{
        display: block;
        margin-top: 5%;
        margin-left: 0;
        margin-right: 0;
        
    }
    
    .news_img{
        width: 100%;
        
    }
    
    .news_right{
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        
    }
    
    .center_supporter_mobile{
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 20%;
    }
    
    .container{
        width: 100%;
        
    }
    
    .mobile_2016{
        margin-left: 0%;
        margin-right: 0%;
        text-align: center
    }
    
    .mobile_2016 h1{
        margin-left: 10%;
         margin-right: 10%;
        
    }
    .mobile_2016 h4{
        margin-left: 10%;
         margin-right: 10%;
        
    }
    .mobile_2016 p{
        margin-left: 10%;
         margin-right: 10%;
        
    }
    .mobile_2016 h2{
        margin-left: 10%;
         margin-right: 10%;
        
    }
    
    .div_img_2022_mobile{
        margin-top: 12%;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }
    
    .img_2022_mobile{
        width: 70%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .city_commission_mobile{
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .city_commission_mobile_div_img{
        
        width: 100%;
        margin-left: 0;
        margin-top: 6%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .city_commission_mobile_img{
        
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .form_mobile{
        margin-top: 12%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .form_mobile_centre{
        text-align: center;
    }
    
    .show_menu2{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        margin-top: -15%;
        overflow: hidden;
    }
    
    
    
    
}

/*The Modal ends*/

/*
.img{
    display: flex;
    flex-direction: row;
}
*/