.main{
    margin: auto
}

#logo{
    display: flex;
    justify-content: center;
    
    
}

.underline{
    
    background: 
      linear-gradient(currentColor 0 0) 
      bottom /var(--d, 0) 3px 
      no-repeat;
  transition:0.5s;
}

.underline:hover{
    --d: 100%;
}

.topnav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding-top: 30px;
    
}